/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  line-height: 1.6; /* Aumenta a legibilidade */
}

/* Banner */
header.banner {
  position: relative;
  width: 100%;
  height: 605px;
  background: url('/frontend/public/assets/images/banner.png') no-repeat center center/cover;
  border-bottom: 1px solid #33A8DB;
}

.banner-content {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  max-width: 100%; /* Responsividade */
}

.banner-content .logo img {
  width: 268px;
  height: auto;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.banner-content h1 {
  font-weight: 900;
  font-size: 40px;
  background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 16px;
}

.banner-content p {
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 16px;
  max-width: 90%; /* Facilita a leitura em telas menores */
}

.banner-content button {
  margin-top: 24px;
  padding: 19px 91px;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.21em;
  color: #31A8DD;
  background-color: transparent;
  border: 2px solid #31A8DD;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease; /* Transição suave ao hover */
}

.banner-content button:hover {
  background-color: #31A8DD;
  color: #000000;
}

/* Seção do conteúdo do curso */
main #course-content {
  padding: 50px 0;
  text-align: center;
}

main #course-content h2 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.19em;
  color: #33A8DB;
}

main #course-content p {
  font-weight: 400;
  font-size: 16px;
  margin: 24px auto;
  width: 60%;
}

.modules-list {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.module {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 127px;
  background: #252525;
  border: 1px solid #33A8DB;
  box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
  border-radius: 57px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF; /* Cor branca para o texto do módulo */
}

.module span {
  color: #FFFFFF; /* Cor branca para o texto do span */
}

/* Seção Transforme o mundo */
#transform-world {
  padding: 50px 0;
  text-align: center;
}

#transform-world p {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.19em;
  color: #33A8DB;
}

/* Seção Desafios profissionais */
#professional-challenges {
  padding: 50px 0;
  text-align: center;
}

#professional-challenges h2 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.19em;
  color: #33A8DB;
}

#professional-challenges img {
  margin: 24px auto;
  width: 100%;
  max-width: 659px;
  height: auto;
}

#professional-challenges p {
  font-weight: 400;
  font-size: 16px;
  width: 60%;
  margin: 0 auto;
  line-height: 1.5;
}

/* Seção com imagem de fundo fixa */
#woman-image {
  width: 100%; /* Ocupa toda a largura da tela */
  height: 400px; /* Ajuste a altura conforme necessário */
  background: url('/frontend/public/assets/images/woman-code.png') no-repeat center center; /* Adiciona a imagem de fundo */
  background-size: cover; /* Faz a imagem cobrir todo o contêiner */
}


/* Rodapé */
footer {
  padding: 50px 0;
  background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 100%);
  border-top: 1px solid #33A8DB;
  text-align: center;
}

footer .dio-logo {
  width: 310px;
  height: auto;
}

footer p {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

footer a {
  color: #33A8DB;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
